body {
    background-color: #CDE6F4;
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    color: #031926;
}

.rectangle-container {
    margin-top: 20px
}

.rectangleBg {
    height: 350px;
    width: 250px;
    background: white;
    padding-top: 15px;
    margin:auto;
}

.recContent {
    height: 150px;
    width: 220px;
    margin: auto;
    background: #031926;
}

.vert-center-cont p {
    display: block;
    height: 155px;
    line-height: 25px;
    font-size: 13px;
    color: #031926;
    width: 220px;
    margin: auto;
    overflow-y: scroll;
    margin-top: 10px;
}

.vert-center-cont {
    max-height: 465px;
    height: 465px;
}


/***************************************************

          Responsive

***************************************************/


