/***************************************************

          Global Settings

***************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}




/** Txt Settings **/

/*.bar {
  position:absolute;
    transition: all, 0.2s ease;
    width: 100%;
    padding-top: -40px;
    height: 1px;
    background-color: #CDE6F4;
    transform: scale(0);
}*/



.row {
    max-width: 100%;
}

.vert-center-cont p::-webkit-scrollbar {
    width: 5px;
}

.vert-center-cont p::-webkit-scrollbar-thumb {
    background-color: #4D7EA8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.top-bar {
    padding: 0px;
    background-color: #031926;
}

.top-bar ul {
    background: none;
}

.top-bar ul li {
    color: #CDE6F4;
    transition: all ease 0.2s;
}

.top-bar ul li:hover {
    background-color: #467089;
}

.top-bar ul li a {
    padding: 54px 25px;
    text-decoration: none;
    color: #CDE6F4;
}

.top-bar ul li:hover a {
    color: #FFFFFF;
    transform: scale(1);
    font-weight: 800;
}

.top-bar ul li:hover .bar {
    transform: scale(1);
}

.top-bar-left a {
  display:block;
    text-decoration: none;
    color: #CDE6F4;
    padding: 50px 25px;
    font-family: 'Abril Fatface', cursive;
}

.menu-text {
    margin-top: 10px;
    color: #fff;
}




/** Burger Menu **/

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 30px;
    height: 3px;
    background-color: #CDE6F4;
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 3;
}

.hamburger:focus {
    outline: transparent;
}

#hamb-bg {
    position: absolute;
    right: -400px;
    top: 0;
    background-color: #031926;
    height: 100%;
    transition: right, 0.5s;
    z-index: 2;
    opacity: 0;
}
    

.menu_hamb 
{   
    width: 100%;
    margin-top: 200px;
    display: block;
    list-style: none;
    text-align: center;
    font-size: 34px;
    line-height: 60px;
    font-family: 'Abril Fatface', cursive;
    
}

.menu_hamb li a{
    color: #CDE6F4;
}





/***************************************************

          Responsive

***************************************************/

@media only screen and (max-width: 64em) {
    .hamburger {
        display: inline-block;
    }
    .top-bar-right li {
        display: none;
    }

    .top-bar{
      padding: 50px 0px;
    }

    .top-bar-left a {
    padding: 0px 25px;
}
}


@media only screen and (min-width: 64.003em) {
    .hamburger {
        display: none;
    }
}

