/***************************************************

          Global Settings

***************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body
{
    background:#eee;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    position: relative;
}

/** Txt Settings **/ 

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
}

/** Center column **/ 

.row
{
  max-width: 90em;
}

.home-page
{
  position: relative;
}

.home-page .vert-center
{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.home-page .vert-center p {
    padding-right: 30px;
}

/** topBar **/

.bar
{
  transition: all, 0.2s ease;
  width: 100%;
  margin-top:10px;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
}

.top-bar{
  padding:0px;
  background-color:#272932;
}

.top-bar ul{
  padding:0px 20px;
  background:none;
}

.top-bar ul li{
  padding:50px 25px;
  transition:all ease 0.1 s;
}

.top-bar ul li:hover{
  background-color:#4D7EA8;
}
              
.top-bar ul li a
{
  text-decoration: none;
  color: #fff;
  padding:0;
}

.top-bar ul li a:hover ~ .bar
{
  transform: scale(1);
}


.menu-text{
  margin-top: 10px;
  color:#fff;
}

/** Burger Menu **/

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
{
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.hamburger
{
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 3;
}

.hamburger:focus
{
  outline: transparent;
}

#hamb-bg
{
  position: absolute;
  right: -400px;
  top: 0;
  background-color: #272932;
  height: 100%;
  transition: right, 0.5s;
  z-index: 2;
  opacity: 0;
}

/***************************************************

					Responsive

***************************************************/

@media only screen and (max-width: 40em) 
{
  .hamburger
   {
   	display: inline-block;
   }
	.top-bar-right li
   {
   	display: none;
   }
    .divider-section
   {
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .home-page .vert-center-cont
   {
    max-height: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
   }
   .home-page .vert-center-cont img
   {
    max-width: calc(100% - .9375rem);
    overflow: hidden;
   }
}

@media only screen and (min-width: 40em) and (max-width: 64em)
{
   .hamburger
   {
   	display: inline-block;
   }

   .top-bar-right li
   {
   	display: none;
   }
    .divider-section
   {
    margin-top: 60px;
    margin-bottom: 60px;
   }
   .home-page .vert-center-cont
   {
    max-height: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
   }
    .home-page .vert-center-cont img
   {
    max-width: calc(100% - .9375rem);
    overflow: hidden;
   }
}

@media only screen and (min-width: 64em)
{
   .hamburger
   {
   	display: none;
   }
   .divider-section
   {
    margin-top: 80px;
    margin-bottom: 80px;
   }
   .home-page .vert-center-cont
   {
    max-height: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
   }
    .home-page .vert-center-cont img
   {
    max-width: calc(100% - .9375rem);
    overflow: hidden;
   }
}