html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body
{
    background:#eee;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    position: relative;
}

/***************************************************************/

/* com

.vert-center-cont
{
	position: relative;
	height: 300px;
	max-height: 300px;
}

.vert-center
{
	position: absolute;
	top: 50%;
}
*/

.row
{
	max-width: 90em;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
}

.home-page
{
	position: relative;
    padding-bottom: 100px;
}

.home-page .vert-center-cont
{
	max-height: 500px;
	height: 500px;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.home-page .vert-center
{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.home-page .vert-center p {
    padding-right: 30px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #4D7EA8;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect .container-overlay{
  position: relative;
  top:50%;
  transform: translate(0,-50%);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/***************************************************************/
.bar
{
	transition: all, 0.2s ease;
	width: 100%;
	margin-top:10px;
	height: 1px;
 	background-color: #fff;
 	transform: scale(0);
}

.top-bar{
  padding:0px;
  background-color:#272932;
}

.top-bar ul{
  padding:0px 20px;
  background:none;
}

.top-bar ul li{
  padding:50px 25px;
  transition:all ease 0.1 s;
}

.top-bar ul li:hover{
  background-color:#4D7EA8;
}
              
.top-bar ul li a
{
	text-decoration: none;
	color: #fff;
  padding:0;
}

.top-bar ul li a:hover ~ .bar
{
	transform: scale(1);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
{
	width: 30px;
	height: 3px;
  background-color: #fff;
}

.hamburger
{
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 3;
}

.hamburger:focus
{
  outline: transparent;
}

#hamb-bg
{
  position: absolute;
  right: -400px;
  top: 0;
  background-color: #272932;
  height: 100%;
  transition: right, 0.5s;
  z-index: 2;
  opacity: 0;
}

.menu-text{
  margin-top: 10px;
  color:#fff;
}

.clearboth
{
  clear: both;
}
/***************************************************

					Responsive

***************************************************/

@media screen and (max-width: 40em) 
{
  .hamburger
   {
   	display: inline-block;
   }
	.top-bar-right li
   {
   	display: none;
   }
    .divider-section
   {
    margin-top: 50px;
    margin-bottom: 50px;
   }

}

@media screen and (min-width: 40em) and (max-width: 64em)
{
   .hamburger
   {
   	display: inline-block;
   }

   .top-bar-right li
   {
   	display: none;
   }
    .divider-section
   {
    margin-top: 100px;
    margin-bottom: 100px;
   }
}

@media screen and (min-width: 64em)
{
   .hamburger
   {
   	display: none;
   }
   .divider-section
   {
    margin-top: 200px;
    margin-bottom: 200px;
   }

}