html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body
{
    background:#eee;
    font-family:Helvetica,Arial;
    font-size:14px;
}

/***************************************************************/

/* com

.vert-center-cont
{
	position: relative;
	height: 300px;
	max-height: 300px;
}

.vert-center
{
	position: absolute;
	top: 50%;
}
*/

.row
{
	max-width: 90em;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
}

.divider-section
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-page
{
	position: relative;
    padding-bottom: 100px;
}

.home-page .vert-center-cont
{
	max-height: 500px;
	height: 500px;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.home-page .vert-center
{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.home-page .vert-center p {
    padding-right: 30px;
}
/***************************************************************/
.bar
{
	transition: all, 0.2s ease;
	width: 70%;
	margin: auto;
	height: 1px;
 	background-color: black;
 	transform: scale(0);
}
              
.top-bar ul li a
{
	text-decoration: none;
	color: #000;
}

.top-bar ul li a:hover ~ .bar
{
	transform: scale(1);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
{
	width: 30px;
	height: 3px;
}

/***************************************************

					Responsive

***************************************************/

@media screen and (max-width: 40em) 
{
  body
  {
    background-color: #333333;
  }
  .hamburger
   {
   	display: inline-block;
   }
	.top-bar-right li
   {
   	display: none;
   }

}

@media screen and (min-width: 40em) and (max-width: 64em)
{
   body
   {
    background-color: grey;
   }
   .hamburger
   {
   	display: inline-block;
   }

   .top-bar-right li
   {
   	display: none;
   }
}

@media screen and (min-width: 64em)
{
   .hamburger
   {
   	display: none;
   }
}